{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Settings {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


    <div class="row">
        <div class="col-12 col-xl-8">
            <div class="card card-body border-0 shadow mb-4">
                <h2 class="h5 mb-4">المعلومات الخاصة بى</h2>
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="from-group col-md-12 mb-3">
                            <div class="input-group ">
                
                                <input type="text" name="username" id="inputusername" class="form-control" placeholder='اسم المستحم'
                                    autofocus value="{{form.initial.username}}">
                            </div>
                        </div>
                        <div class="from-group col-md-12 mb-3">
                            <div class="input-group ">
                
                                <input type="email" name="email" id="inputEmail" class="form-control" placeholder='الأيميل'
                                    autofocus value="{{form.initial.email}}">
                            </div>
                        </div>
                        <div class="from-group col-md-12 mb-3">
                            <div class="input-group ">
                
                                <input type="text" name="first_name" id="inputFirstName" class="form-control" placeholder='الأسم'
                                    autofocus value="{{form.initial.first_name}}">
                            </div>
                        </div>
                        <div class="from-group col-md-12 mb-3">
                            <div class="input-group ">
                
                                <input type="text" name="last_name" id="inputLastName" class="form-control" placeholder='أسم العائلة'
                                    autofocus value="{{form.initial.last_name}}">
                            </div>
                        </div>
                        <div class="from-group col-md-12 mb-3">
                            <div class="input-group ">
                
                                <input type="text" name="phone_number" id="inputPhoneNumber" class="form-control"
                                    placeholder='رقم التلفون' autofocus value="{{form.initial.phone_number}}">
                            </div>
                        </div>
                                                            <div class="d-flex">
                                        <svg class="icon text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path></svg>
                                        <input name=image type="file">
                                        <div class="d-md-block text-left">
                                            <div class="fw-normal text-dark mb-1">أختر صورة</div>
                                            <div class="text-gray small">JPG, GIF or PNG. Max size of 800K</div>
                                        </div>
                                    </div>
                    </div>
                    {% for field in form %}
                    <p>
                    
                        {% for error in field.errors %}
                    <p style="color: red;">{{error}}</p>
                    {% endfor %}
                    </p>
                    
                    {% if form.non_field_errors %}
                    <div style="color:red">
                        <p>{{form.non_field_errors}}</p>
                    </div>
                    {% endif %}
                    
                    {% endfor %}
                    <button type="submit" class="btn btn-secondary">حفظ التعديل</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-xl-4">
            <div class="row">
                <div class="col-12 mb-4">
                    <div class="card shadow border-0 text-center p-0">
                        <div class="profile-cover rounded-top" data-background="/static/assets/img/profile-cover.jpg"></div>
                        <div class="card-body pb-5">
                            
                            {% if request.user.image %}
                                
                            <img src={{request.user.image.url}} class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait">
                            {% else %}
                            <img class="avatar rounded-circle" alt="Image placeholder" src="{% static 'assets/img/team/profile-picture-5.jpg' %}">
                            {% endif %}
                                
                            <h4 class="h3">
                                {{ request.user.username }}
                            </h4>
                            <p class="text-gray mb-4">
                                {{ request.user.email }}
                            </p>
                        </div>
                      </div>
                </div>
                <div class="col-12">
                    <div class="card card-body border-0 shadow mb-4">
                        <h2 class="h5 mb-4"></h2>
                        <div class="d-flex align-items-center">                                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
