asgiref
autopep8
certifi
cffi
charset-normalizer
cloudinary
coreapi
coreschema
cryptography
defusedxml
Deprecated
dj-rest-auth
Django
django-braces
django-cors-headers
django-environ
django-filter
django-oauth-toolkit
django-rest-auth
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
gunicorn
idna
itypes
Jinja2
jwcrypto
MarkupSafe
mysqlclient
oauthlib
Pillow
psycopg2-binary
pycodestyle
pycparser
PyJWT
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
toml
tzdata
uritemplate
urllib3
waitress
whitenoise
wrapt
