{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  Agent
{% endblock title %}
  

{% block content %}
<style type='text/css'>
  .cover {
    width: 600px;
    height: 400px;
  }
</style>
 

  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">{{agent.first_name}}</h1>
              <span class="color-text-a">{{agent.last_name}}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#">الصفحة الرئيسية</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">السماسرة</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{agent.first_name}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single -->

    <!-- ======= Agent Single ======= -->
    <section class="agent-single">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-6">
                <div class="agent-avatar-box">
                  <img src="{{agent.image.url}}" alt="" class="agent-avatar img-fluid">
                </div>
              </div>
              <div class="col-md-5 section-md-t3">
                <div class="agent-info-box">
                  <div class="agent-title">
                    <div class="title-box-d">
                      <h3 class="title-d">{{agent.first_name}}
                        <br> {{agent.last_name}}
                      </h3>
                    </div>
                  </div>
                  <div class="agent-content mb-3">
                    
                    {% if agent.decribe %}
                      
                  
                    <p class="content-d color-text-a">
                      Sed porttitor lectus nibh. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
                      Vivamus suscipit tortor
                      eget felis porttitor volutpat. Vivamus suscipit tortor eget felis porttitor volutpat.
                    </p>
                      {% endif %}
                    <div class="info-agents color-a">
                      <p>
                        <strong>رقم الهاتف: </strong>
                        <span class="color-text-a"> {{agent.phone_number}}</span>
                      </p>
                      <p>
                        <strong>أيميل: </strong>
                        <span class="color-text-a">{{agent.email}}</span>
                      </p>
                    </div>
                  </div>
                  <div class="socials-footer">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 section-t8">
            <div class="title-box-d">
              <h3 class="title-d"> ({{count}}) عقارات تابعة للسمسار</h3>
            </div>
          </div>
          <div class="row property-grid grid">
            <div class="col-sm-12">
              <div class="grid-option">
                <form>
                  <select class="custom-select">
                    <option selected>كل</option>
                    <option value="2">للبيع</option>
                    <option value="3">للأيجار</option>
                  </select>
                </form>
              </div>
            </div>
            
            {% for house in houses %}
              
           
            <div class="col-md-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img class='cover' src="{{house.cover.url}}" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="{% url 'property-detail' house.slug %}">{{house.title}}
                          <br /> {{house.aria}}</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <div class="price-box d-flex">
                        <span class="price-a">{{house.property_type}} | $ {{house.price|intcomma}}</span>
                      </div>
                      <a href="{% url 'property-detail' house.slug %}" class="link-a">أضغط للمشاهدة
                        <span class="bi bi-chevron-right"></span>
                      </a>
                    </div>
                    <div class="card-footer-a">
                      <ul class="card-info d-flex justify-content-around">
                        <li>
                          <h4 class="card-info-title">المساحة</h4>
                          <span>{{house.space}}
                            <sup>2</sup>
                          </span>
                        </li>
                        <li><h4 class="card-info-title">الغرف</h4>
                        <span>{{house.num_rooms}}</span>
                        </li>
                        <li>
                          <h4 class="card-info-title">الحمامات</h4>
                          <span>{{house.bathrooms}}</span>
                        </li>
                        
                        {% if house.rent_type %}
                        
                        
                        <li>
                          <h4 class="card-info-title">زمن الأيجار</h4>
                          <span>{{house.rent_type}}</span>
                        </li>
                        {% endif %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section><!-- End Agent Single -->

  </main><!-- End #main -->
{% endblock content %}