{% extends 'base.html' %}
{% load static %}

{% block title %}
كل السماسرة
{% endblock title %}

{% block content %}
  


  <main id="main">
    <!-- =======Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">كل السماسرة</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'homepage' %}">الصفحة الرئيسية</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  كل السماسرة
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Agents Grid ======= -->
    <section class="agents-grid grid">
      <div class="container">
        <div class="row">
          
          {% for agent in agents %}
            
        
          <div class="col-md-4">
            <div class="card-box-d">
              <div class="card-img-d">
                {% if agent.image  %}
                <img src="{{agent.image.url}}" alt="" class="img-d img-fluid">
                {% endif %}
              </div>
              <div class="card-overlay card-overlay-hover">
                <div class="card-header-d">
                  <div class="card-title-d align-self-center">
                    <h3 class="title-d">
                      <a href="{% url 'agent_detail' agent.email %}" class="link-two">{{agent.first_name}}
                        <br> {{agent.last_name}}</a>
                    </h3>
                  </div>
                </div>
                <div class="card-body-d">
                  {% if agent.decribe %}
                  <p class="content-d color-text-a">
                    {{agent.decribe}}
                  </p>
                  {% endif %}
                  <div class="info-agents color-a">
                    <p>
                      <strong>رقم الهاتف: </strong> {{agent.phone_number}}
                    </p>
                    <p>
                      <strong>أيميل: </strong> {{agent.email}}
                    </p>
                  </div>
                </div>
                <div class="card-footer-d">
                  <div class="socials-footer d-flex justify-content-center">
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-facebook" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-twitter" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-instagram" aria-hidden="true"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#" class="link-one">
                          <i class="bi bi-linkedin" aria-hidden="true"></i>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
            {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">{% if page_obj.has_previous %}
                <li class="page-item disabled"><a class="btn btn-outline-info mb4" href="?page=1">First</a></li>
                <li class="page-item active" aria-current="page"><a class="btn btn-outline-info mb4"
                    href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% endif %}
                {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <li class="page-item"><a
                    class="page-link" href="?page={{num}}">{{num}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if page_obj.has_next %}
                  <li class='page-item'><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                  <li class='page-item'></li><a class="page-link" href="?page={{page_obj.paginator.num_page}}">Last</a></li>
                  {% endif %}
              </ul>
            </nav>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Agents Grid-->

  </main><!-- End #main -->

{% endblock content %}