{% extends 'base.html' %}
{% block title %} حول المنشور{% endblock title %}
{% block content %}
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">الصحيفة الألكترونية</h1>
              <span class="color-text-a">{{post.title}}</span>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'homepage' %}">الصحيفة الرئيسية</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  {{post.title}}
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="news-img-box ">
              <img src="{{post.image.url}}" alt="" class="img-fluid">
            </div>
          </div>
          <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="post-information">
              <ul class="list-inline text-center color-a">
                <li class="list-inline-item mr-2">
                  <strong>الكاتب: </strong>
                  <span class="color-text-a">{{post.auther.username}}</span>
                </li>
                <li class="list-inline-item mr-2">
                  <strong>نوع المقال: </strong>
                  <span class="color-text-a">{{post.catagory.name}}</span>
                </li>
                <li class="list-inline-item">
                  <strong>التاريخ: </strong>
                  <span class="color-text-a">{{post.created}}</span>
                </li>
              </ul>
            </div>
            <div class="post-content color-text-a">
              <p class="post-intro">
                {{post.description}}
              </p>
            </div>
            <div class="post-footer">
              <div class="post-share">
                <span>مشاركة: </span>
                <ul class="list-inline socials">
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-facebook" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-twitter" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="">
                      <i class="bi bi-instagram" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">
                      <i class="bi bi-linkedin" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Blog Single-->

  </main><!-- End #main -->
{% endblock content %}