{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
  كل العروض
{% endblock title %}


{% block content %}
<style type='text/css'>
  .cover {
    width: 600px;
    height: 400px;
  }
</style>
  <main id="main">

    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">عقاراتنا المتنوعة</h1>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'homepage' %}">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  كل العقارات
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Intro Single-->

    <!-- ======= Property Grid ======= -->
    <section class="property-grid grid">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="grid-option">
              <form  method='get' action=''>
                <select name='type' class="custom-select">
                 <option value="الكل">
                    الكل</option>
                   <option value="للبيع">
                    للبيع</option>
                  <option value="للأيجار">
                    للأيجار</option>
                </select>
                <button type="submit">اختار</button>
              </form>
            </div>
          </div>
          
          {% for obj in page_obj %}
            
          
          <div class="col-md-4">
            <div class="card-box-a card-shadow">
              <div class="img-box-a">
                <img class='cover' src="{{obj.cover.url}}" alt="" class="img-a img-fluid">
              </div>
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  <div class="card-header-a">
                    <h2 class="card-title-a">
                      <a href="{% url 'property-detail' obj.slug %}">{{obj.title}}
                        <br /> {{obj.aria.name}}</a>
                    </h2>
                  </div>
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">{{obj.property_type}} | $ {{obj.price|intcomma}}</span>
                    </div>
                    <a href="{% url 'property-detail' obj.slug %}" class="link-a">Click here to view
                      <span class="bi bi-chevron-right"></span>
                    </a>
                  </div>
                  <div class="card-footer-a">
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">المساحة</h4>
                        <span>{{obj.space}} متر
                          <sup>2</sup>
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الغرف</h4>
                        <span>{{obj.num_rooms}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">الحمامات</h4>
                        <span>{{obj.bathrooms}}</span>
                      </li>
                        {% if obj.rent_type %}
                        <li>
                          <h4 class="card-info-title">زمن الأيجار</h4>
                          <span>{{obj.rent_type}}</span>
                        </li>
                        {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">{% if page_obj.has_previous %}
              <li class="page-item disabled"><a class="btn btn-outline-info mb4" href="?page=1">First</a></li>
              <li class="page-item active" aria-current="page"><a class="btn btn-outline-info mb4"
                  href="?page={{page_obj.previous_page_number}}">Previous</a></li>
              {% endif %}
              {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
              <li class="page-item active"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%} <li class="page-item"><a
                  class="page-link" href="?page={{num}}">{{num}}</a></li>
                {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                <li class='page-item'><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                <li class='page-item'></li><a class="page-link" href="?page={{page_obj.paginator.num_page}}">Last</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->

  </main><!-- End #main -->

  {% endblock content %}
